<footer class="footer">
  <small>
    <%= t".framgia" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "/about" %></li>
      <li><%= link_to t(".contact"), "/contact" %></li>
    </ul>
  </nav>
</footer>
